#contact_modal {
    display: none;
}

main {
    margin-left: 100px;
    margin-right: 100px;
}

.photograph-header {
    display: grid;
    background-color: #FAFAFA;
    height: 300px;
}

.photograph-header article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}

.presentation h1 {
    margin-top: 0px;
    margin-right: 0px;
    color: #D3573C;
    font-size: 60px;
    font-weight: unset;
}

.location {
    color: #901C1C;
    font-size: 23px;
}

.quote {
    color: #525252
}

#label_trier {
    font-weight: bold;
    font-size: 20px;
}


.photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 5px 15px 0px lightslategray;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;

    position: absolute;
    top: 0;
    overflow: hidden;
    z-index: 100;
    right: 15%;
    left: 15%;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    /*margin-bottom: 26px;*/
}

form input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #DB8876;
    font-size: larger;
}

.gallery-section {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 40px;
}

.media-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.media-container img,
.video {
    width: 25vw;
    height: 25vw;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    cursor: pointer;
}

.reviewElement {
    display: flex;
}

/*Filtre*/
#filtre {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 50px;
}

#menu_dropdown {
    display: inline-flex;
}

.btDropdown {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 16px;
    width: 170px;
    padding-left: 25px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
    margin-left: 50px;
    position: relative;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
}

.btDropdown:hover,
.btDropdown:focus {
    background-color: #D3573C;
}

.btDropdown::after {
    content: '';
    width: 7px;
    height: 7px;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    transform: rotate(45deg);
    position: absolute;
    right: 20px;
    top: 22px;
    z-index: 10;
}

.btDropdown:focus::after {
    transform: rotate(225deg);
}

.dropdownItem {
    border-top: 1px solid #FFF;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #901C1C;
    min-width: 170px;
    z-index: 1;
    border-radius: 5px;
    margin-left: 50px;
}

.dropdown-content p {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 16px;
    padding-left: 25px;
    cursor: pointer;
    margin: 0px;
}

.dropdown-content p:hover {
    background-color: #D3573C;
}

.dropdown-content p:first-child {
    border-radius: 5px 5px 0 0;
}

.dropdown-content p:last-child {
    border-radius: 0px 0px 5px 5px;
}

.show {
    display: block;
}

.titleContent {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 25px;
}

.titleContent * {
    color: #901C1C;
    font-size: 20px;
    font-weight: lighter;
}

.reviewElement {
    display: flex;
    align-items: center;
}

.heartIcon {
    background-image: url(../assets/icons/heart.svg);
    height: 20px;
    width: 20px;
    margin-left: 5px;
    cursor: pointer;
}

#likesAndPrice {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0px;
    right: 40px;
    height: 50px;
    width: 300px;
    background-color: #DB8876;
    border-radius: 5px;
}

#likesAndPrice img {
    height: 20px;
    width: 20px;
    filter: brightness(0);
    margin-left: 5px;
}

#likesAndPrice * {
    font-size: 20px;
    font-weight: lighter;
}

#likes {
    display: flex;
    align-items: center;
}

/*Formulaire*/
#message_input {
    height: 200px;
}

.errorStyle {
    color: #ee0c0c;
    font-size: 15px;
    font-weight: bold;
}

.errorForm {
    border: 2px solid #ee0c0c;
}

input {
    padding: 8px;
    outline: none;
}

.no-scroll {
    overflow: hidden;
}